.cart-container {
  padding: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.count {
  margin: 0 5px;
  padding: 5px 5px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buyNow {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  font-size: large;
  margin-left: 20px;
  cursor: pointer;
}
.total {
  margin-top: 20px;
  margin-left: 10px;
}
